@import "./settings.scss";

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

  .container-img-introduction {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  .container-artist-title .first-container-artist,
  .container-artist-title .second-container-artist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-collection-title .first-container_collection,
  .container-collection-title .second-container_collection {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
