@import "./settings.scss";

.container-img-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-containt {
  display: flex;
  border-radius: 2px;
  border: 1px solid;
  background-color: white;
  flex-direction: column;
  align-items: center;
  height: 28rem;
  justify-content: center;
  width: 52rem;
  max-width: 100%;
  margin: 2em auto 0;
  padding-bottom: 2rem;
  h1 {
    color: $font_color_title;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
    font-size: 32px;
    font-weight: bold;
  }
  p {
    text-align: center;
    padding: 1rem;
    font-size: 20px;
  }
}

.about-button {
  display: flex;
  padding: 40px 20px 20px 20px;
  background-color: black;
  opacity: 0.33;
  width: 35%;
  border-radius: 40px;
  border: 0;
  color: white;
  justify-content: center;
  margin: 1rem;
  height: 0px;
  align-items: center;
  text-decoration: none;
  p {
    font-size: 22px;
    text-align: center;
  }
}

h2 {
  color: $font_color_title;
  margin: 2em 0 0 1em;
  font-size: 34px;
  font-weight: bold;
}

.container-artist-title {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1em;
  width: 100%;
}

h3 {
  text-align: left;
  font-size: 24px;
}

.container-artist {
  display: flex;
  flex-direction: row;

  .artist {
    position: relative;
    width: 82%;
    height: 5.5em;
    left: 31px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;

    h3 {
      margin: 1em 1em 1em 0em;
      text-align: left;
      padding-right: 16px;
    }
  }
}

.title-img-artist img {
  position: relative;
  height: 14em;
  width: 14em;
  margin-left: 3em;
  margin-top: 1em;
  object-fit: cover;
  left: 10px;
  box-shadow: 26px 29px 0px -6px rgba(0, 0, 0, 0.65);
}

.container-collection-title {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  max-height: 22em;
  max-width: 1280px;
  p {
    margin-top: 0.5em;
    margin-left: 1.5em;
    font-size: 20px;
  }
}

.container-collection {
  display: flex;
  flex-direction: row;
  margin-left: 1.5em;
  height: 26em;
  position: relative;
  max-width: 1500px;
  align-items: flex-start;
  padding: 0;
  white-space: nowrap;
}

.collection-text {
  text-align: left;
  margin-left: 2.8em;
  h3 {
    font-size: 26px;
    font-weight: bold;
  }
  h4 {
    font-size: 22px;
    font-style: italic;
    color: $font_color_text;
  }
}

.horizontal-list {
  display: flex;
  gap: 35px;
  // padding-bottom: 20px;
  // margin: 0;
  // max-width: 100%;

  .collection {
    position: relative;
    height: 6.5em;
    display: flex;
    flex-direction: column;
    margin: 0 1em 0em 0em;
    flex: none;
    width: 100%;
    max-width: 250px;
    height: 22em;

    img {
      margin: 2em 0em 2em 2em;
      height: 11em;
      width: 17em;
      object-fit: cover;
      box-shadow: 26px 29px 0px -6px #7b273d;
    }
  }
}

// .horizontal-list::-webkit-scrollbar {
//   width: 0.1em;
// }

// .horizontal-list::-webkit-scrollbar-thumb {
//   background-color: white;
// }

// .horizontal-list::-webkit-scrollbar-track {
//   background-color: white;
// }

.first-container_collection,
.second-container_collection,
.third-container_collection {
  grid-column: 1;
}
