@import "./settings.scss";

.card-custom {
  display: flex;
  text-align: center;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.btn {
  background-color: #7b273d;
  color: white;
}

.carousel-description {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}
