.Navigation {
  background: url(../assets/navbar/navbarBackground.png);
  background-size: cover;
  object-fit: cover;
  padding: 1rem;
  height: auto;
  display: flex;
  justify-content: space-between; /* Add this to create space between items */
  align-items: center; /* Align items vertically in the center */

  ul {
    display: none;
  }

  .dropdown ul li a {
    color: black;
  }
}

img.profil {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 1024px) {
  .Navigation {
    height: 200px;

    ul {
      display: flex;
      justify-content: space-between;
    }
    a {
      text-decoration: none;

      li {
        list-style: none;
        color: white;
      }
    }

    .profilUser {
      margin-left: auto;
    }
  }
}
