.Navigation {
  background: url(../assets/navbar/navbarBackground.png);
  background-size: cover;
  object-fit: cover;
  padding: 1rem;
  height: auto;

  ul {
    display: none;
  }

  .dropdown ul li a {
    color: black;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .Navigation {
    height: 200px;

    ul {
      display: flex;
      justify-content: space-evenly;
    }
    a {
      text-decoration: none;

      li {
        list-style: none;
        color: white;
      }
    }
  }
}
