.Navigation {
  background-color: #7b273d;
  background-size: cover;
  padding: 1rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar {
    box-shadow: none;
  }
  .navbar > .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-link {
    display: block;
    padding: var(--mdb-nav-link-padding-y) var(--mdb-nav-link-padding-x);
    font-size: var(--mdb-nav-link-font-size);
    font-weight: var(--mdb-nav-link-font-weight);
    color: whitesmoke;
    text-decoration: none; // Add this line to remove underline
  }

  img.profil {
    height: 2rem;
    width: 2rem;
  }

  @media screen and (min-width: 1024px) {
    .Navigation {
      height: 200px;
    }

    .nav-link {
      color: #fff;
    }

    .profilUser {
      margin-left: auto;
    }
  }
}
