.container-footer {
  background-color: #7b273d;
  color: white;
}

.container-footer a {
  color: white;
  text-decoration: none;
}

.title-contact,
.title-partnerships {
  color: white;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.logo-mail,
.logo-telephone {
  width: 20px;
  height: 20px;
}

.telephone-number,
.adress-mail {
  margin-left: 10px;
}

.logo-left {
  width: 90px;
  height: 80px;
  margin-right: 50px;
}

.logo-right {
  width: 140px;
  height: 80px;
}
// .container-development {
//   display: flex;
//   justify-content: space-between;
// }

.container-number,
.container-mail {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.partnerships {
  padding-bottom: 20px;
}

//Media queries pour le format Desktop

@media (min-width: 768px) {
  .container {
    display: inline;
    flex-direction: row;
  }

  .contact,
  .partnerships,
  .development {
    width: 33.33%; // On répartit l'espace en trois colonnes égales.
    margin-bottom: 0;
  }
  .container-partnerships {
    margin-top: 20px;
  }

  .container-development {
    margin-top: 20px;
  }

  .title-development {
    margin-bottom: 0;
  }

  .container-number,
  .container-mail {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .logo-telephone,
  .logo-mail {
    display: flex;
    margin-right: 5px;
  }
  .telephone-number,
  .adress-mail {
    display: inline;
  }

  .contact {
    display: inline;
  }

  .partnerships {
    display: inline;
  }

  .development {
    display: inline;
  }
  .copyright {
    margin-top: 0;
  }

  .container-footer a {
    color: white;
    text-decoration: none;
  }

  .container-footer {
    padding-left: 10px;
    padding-right: 30px;
  }
}
