.container-footer {
  background-color: #7b273d;
  color: white;
}

.title-contact,
.title-partnerships {
  color: white;
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.logo-mail,
.logo-telephone {
  width: 20px;
  height: 20px;
}

.telephone-number,
.adress-mail {
  margin-left: 10px;
  margin-top: -3px;
}

.logo-left {
  width: 90px;
  height: 80px;
  margin-right: 50px;
}

.logo-right {
  width: 140px;
  height: 80px;
}

.contact {
  margin-bottom: -10px;
}

.container-development > p {
  margin-bottom: 0;
}

//Media queries pour le format Desktop

@media (min-width: 768px) {
  .container {
    display: inline;
    flex-direction: row;
  }

  .contact,
  .partnerships,
  .development {
    width: 33.33%; // On répartit l'espace en trois colonnes égales.
    margin-bottom: 0;
  }

  .contact {
    display: inline;
    justify-content: flex-start; // On aligne le container à gauche.
  }

  .partnerships {
    display: inline;
    justify-content: flex-end; // On aligne le container au centre.
  }

  .development {
    display: inline;
    justify-content: center; // On aligne le container à droite.
  }
  .copyright {
    margin-top: 0;
  }
}
