// @import "mdb-react-ui-kit/dist/scss/mdb.pro.scss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./style/Settings.scss";
@import "./style/Home.scss";
@import "./style/About.scss";
@import "./style/Artist.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
