@import "./style/Home.scss";
@import "./style/Artists.scss";
@import "./style/About.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
